version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:5000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=5000